<h3>Name: {{name}}</h3>
<textarea name="text" form="form">{{text}}</textarea>
<form action="/api/update" method="post" id="form">
  <input type="submit" value="Update">
  <input type="hidden" name="serial" value="{{serial}}">
</form>