<h3>Name: {{name}}</h3>
<textarea name="text" form="form">{{text}}</textarea>
<form action="/api/update" method="post" id="form">
  <input type="submit" value="Update">
  <input type="hidden" name="serial" value="{{serial}}">
  <input type="hidden" name="uuid" value="{{uuid}}">
</form>

<script>
  const hiddenSerial = document.querySelector('[name="serial"]');
  const hiddenUuid = document.querySelector('[name="uuid"]');
  const submit = document.querySelector('[type="submit"]');
  const serial = hiddenSerial.value;
  const initalUuid = hiddenUuid.value;
  let checking = false;

  const onClick = evt => {
    evt.preventDefault();
    if (!checking) {
      const xhr = new XMLHttpRequest();
      
      xhr.addEventListener('load', () => {
        checking = false;
        const {uuid} = JSON.parse(xhr.responseText);
        if (uuid !== initalUuid) {
          alert('Expired!!!');
          window.location.href = '/pages/view';
        } else {
          submit.removeEventListener('click', onClick);
          submit.click();
        }
      });

      xhr.addEventListener('error', err => {
        console.error(err);
      });

      xhr.open('GET', `/api/uuids/${serial}`);
      xhr.send();
      checking = true;
    }
  };

  submit.addEventListener('click', onClick);

</script>