<h3>Name: {{name}}</h3>
<h3>Size: {{size}} byte(s)</h3>
<textarea name="text" form="form">{{text}}</textarea>
<form action="/api/update" method="post" id="form">
  <input type="submit" value="Update">
  <input type="hidden" name="fid" value="{{fid}}">
</form>