<main>
  <button id="chooser">Select a folder where you want to store the text file</button>
  <hr>
  <textarea name="text" form="form">Enter text here...</textarea>
  <form action="/api/save" method="post" id="form">
    <input type="submit" value="Save">
    <input type="hidden" name="hidden">
  </form>
</main>
  
<script type="text/javascript" src="https://static-cdn.kloudless.com/p/platform/sdk/kloudless.explorer.js"></script>
<script>
  const hidden = document.querySelector('[type="hidden"]');
  const submit = document.querySelector('[type="submit"]');
  
  const explorer = window.Kloudless.explorer({
    app_id: 'X9oaWHtuldy9Joik3mmv3gnGafF6fsQQAyTwVKo1R11CKl2B',
    types: ['folders'],
    services: ['gdrive'],
    display_backdrop: true,
    retrieve_token: true
  });
  
  submit.addEventListener('click', evt => {
    if (!hidden.value) {
      evt.preventDefault();
      alert('You have to select a folder first!!!');
    }
  });

  explorer.on('success', files => {
    hidden.value = JSON.stringify(files);
  });

  explorer.choosify(document.getElementById('chooser'));
  
</script>