<table>
  <thead>
    <tr>
      <th>File Name</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {{#each files}}
      <tr>
        <td><a href="/api/download/{{this.serial}}">{{this.name}}</a></td>
        <td><a href="/pages/edit/{{this.serial}}">edit</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>